* {
  margin: 2rem;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;

  --primary-color: grey;
  --text-color: black;
  --border-color: white;
  --hover-color: darkgrey;
  --false-color: rgb(199, 46, 46);
  --true-color: rgb(28, 129, 28);
}

.title {
  font-weight: bolder;
  font-size: 2.8rem;
  text-align: center;
  text-shadow: 1px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 0.3rem;
}

.total-answer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.answer {
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  padding: 3rem;
  color: var(--text-color);
  font-size: 2rem;
  border-color: var(--border-color);
}

.answer:hover,
.footer-button:hover {
  background-color: var(--hover-color);
}

#true:active {
  background-color: var(--true-color);
}

.answer:active {
  background-color: var(--false-color);
}

.footer-container {
  display: flex;
}

.footer-button {
  color: var(--text-color);
  border-color: var(--border-color);
  padding: 2rem;
  border-radius: 15px;
  font-size: 1.8rem;
}
